
* {
    margin: 0px;
    padding: 0px;
}
header {
    justify-content: center;
    display: flex;
    margin-top: 1%;
}

header h1 {
    font-size: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
}

#timebox {
    display: flex;
    padding: 2%;
    border: 3px solid black;
    font-size: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#scorebox {
    padding: 2%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border-radius: 100px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    
}

main button {
    padding: 1%;
    color: red;
}



.main-game {
    width: -webkit-fill-available;
    border: 5px solid red;
    border-radius: 100px;
}



#game {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin: 2%;
}

/* .choice-box {
    display: none;

} */

#choice-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    font-size: 25px;
}

#choices {
    font-size: 18px;
}

.question-box {
    display: flex;
}

#questions {
    width: auto;
}

#ABC {
    padding: 1%;
}

#ABC li {
    width: 100%;
    padding: 2%;
}

.btns{
    display: flex;
    justify-content: center;
}

#button-box {
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.inside-btn {
    padding: 10%;
    font-size: 40px;
}

.answer-btn {
    display: grid;
}

#highscorebtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px outset;
    font-size: 45px;
}

.header {
    columns: red;
}
.list {
    height: 750px;
   border: 3px solid black;
   padding: 1%;
   margin: 1%;
}

.user-name{
    margin: 1%;
    padding: 2% 0%;
    display: flex;
    border: 5px dashed goldenrod;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-score {
    height: auto;
    padding: 2% 0%;
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 130px;
}

.highscorename {
    display: none;
}

.highlist {
    padding: 1%;
    display: flex;
    width: 75%;
    height: 85%;
    flex-direction: column;
    align-items: center;

}

.leaderboard {
    border: 5px dashed goldenrod;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 1%;
    padding: 1%;
}

.playagain {
    border: 3px solid black;
    cursor: wait;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
}

